.storyComponent{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    overflow-x: hidden;
}

.storyComponent .storyHead{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #2E2E2E;

    h3{
        font-size: 25px;
        color: #003B31;
        font-weight: 700;
    }
    span{
        line-height: 34.1px;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
    }
}

.storyComponent .storyBody{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.storyComponent .storyBody article{
    width: 50%;
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storyComponent .storyBody article .Head{
        font-size: 35px;
        color: #003B31;
        font-weight: 700;
    
}

.storyComponent .storyBody article .body{
    width: 60%;
    height: 40vh;
    background-image: url(../../assets/mission.jpeg);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    border-radius: 10px;
}
.storyComponent .storyBody article .Visionbody{
    width: 60%;
    height: 40vh;
    background-image: url(../../assets/Vision.png);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    border-radius: 10px;
}

.storyComponent .storyBody article .text{
    width: 90%;
    line-height: 34.1px;
    text-align: center;
    font-size: 20px;
}

@media (min-width: 320px)  and (max-width: 768px){
    .storyComponent{
        margin-top: 10px;
    }
    .storyComponent .storyHead{
        height: auto;
    }
    .storyComponent .storyBody{
        flex-direction: column;
    }
    .storyComponent .storyBody article{
        width: 100%;
    }

    .storyComponent .storyBody article .body{
        width: 80%;
    }
}