.Staffdashboard{
    width: 100%;
    height: auto;
    max-height: 100%;
    min-height: 100%;
    padding: 50px;
    /* margin-bottom: 30px; */
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    background-color: white;
}

.Staffdashboard .Staffdashboard-Header{
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.Staffdashboard .Staffdashboard-Header .staffArticle{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F4B4000D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Staffdashboard .Staffdashboard-Header .staffArticle .textArea{
    width: 60%;
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    gap: 10px;
    display: flex;
    color: #003B31;
    flex-direction: column;
    
}

.Staffdashboard .Staffdashboard-Header .staffArticle .textArea button{
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background-color: #F4B400;
    margin-top: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.Staffdashboard-Header .staffArticle .imageHolder{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.Staffdashboard-Header .box{
    width: 25%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}

.Staffdashboard-Header .box .icon{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Staffdashboard-Header .box .calcStudent{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #F4B400;
}

.Staffdashboard .staffAside{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    section{
        width: 70%;
        height: 80%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;        border-radius: 5px;
        padding-left: 5px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
}

.Staffdashboard main{
    width: 100%;
    height: 52%;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
}
.Staffdashboard main .mainHeader {
    width: 100%;
    height: 30px;
    background-color: #003B31;
    position: sticky;
    margin-top: 0%;
    z-index: 10;
    color: white;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* gap: 131px; */
}


.Staffdashboard main .mainBody{
    width: 100%;
    height: auto;
    gap: 5px;
    padding: 5px;
    min-height: 65%;
    max-height: 65%;
     overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
}

.Staffdashboard main .mainBody section{
    width: 100%;
    height: 50px;
    gap: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid black; */
    background-color: white;
    border-radius: 5px;
}

.Staffdashboard main .mainBody section .sectionInfo {
    width: max-content;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Staffdashboard main .mainBody section .sectionInfoS{
    padding-left: 20px;
    gap: 10px;
    display: flex;
    align-items: center;

    span{
        text-transform: uppercase;
        font-size: 12px;
    }
}
.Staffdashboard main .mainBody section .sectionInfo .studentProfile,
.Staffdashboard main .mainBody section .sectionInfoS .studentProfile {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Staffdashboard main .mainBody section .sectionInfo p{
    font-size: 12px;
    text-align: center;
}
.Staffdashboard main .mainBody section .sectionInfoP .smallScreen{
    display: none;
    font-size: 12px;
    text-align: center;
}

.Staffdashboard main .mainFoot{
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    background-color: #003B31;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainBody .emptyModal{
    width: 30%;
    height: 30vh;
    padding: 20px;
    gap: 10px;
    color:  #003B31;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    span{
        text-align: center;
    }
}

.mainBody .emptyModal button{
    width: 40%;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #003B31;
}

@media (min-width: 1104px) and (max-width: 1440px) {
    .Staffdashboard main .mainBody section{
        /* gap: 220px; */
        padding: 0%;
        justify-content: space-around;
    }

    .Staffdashboard main .mainBody section .sectionInfoP p{
        display: flex;
    }

    .Staffdashboard main .mainBody section .sectionInfoP .smallScreen{
        display: none;
    }

    .Staffdashboard main .mainHeader{
        h4 p{
            display: flex;
        }
        .smallScreen{
            display: none;
        }
    }

    .Staffdashboard .Staffdashboard-Header .staffArticle .textArea button{
        margin: 0%;
        border-radius: 5px;
    }

}

@media (min-width: 768px)  and (max-width: 1024px){

    .Staffdashboard main .mainHeader{
        gap: 0%;
        justify-content: space-around;
    }

    .Staffdashboard main .mainHeader{
        h4 p{
            display: none;
        }
        .smallScreen{
            display: flex;
        }
    }

    .Staffdashboard main .mainBody section{
        gap: 60px;
        justify-content: space-between;
        padding-left: 10px;
    }

    .Staffdashboard main .mainBody section .sectionInfo{
        display: flex;
    }

    .Staffdashboard main .mainBody section .sectionInfoS{
        padding-left: 0%;
        margin-left: 0%;
        gap: 5px;
    }

    .Staffdashboard main .mainBody section .sectionInfoP{
        width: 20%;
    }

    .Staffdashboard main .mainBody section .sectionInfoP p{
        display: none;
    }

    .Staffdashboard main .mainBody section .sectionInfoP .smallScreen{
        display: flex;
    }
    

    .Staffdashboard main{
        height: 70%;
    }

    .Staffdashboard main .mainBody{
        min-height: 70%;
        max-height: 70%;
        padding-bottom: 0%;
    }

    .Staffdashboard{
        width: 95%;
    }
    .Staffdashboard .Staffdashboard-Header .staffArticle{
        width: 70%;
        height: 70%;
    }

    .Staffdashboard-Header .box{
        height: 40%;
    }

    .Staffdashboard .staffAside{
        section{
            width: 100%;
            padding: 20px;
        }
    }


}

@media (min-width: 320px)and (max-width: 768px){

    .Staffdashboard{
        width: 95%;
        height: auto;
        padding-bottom: 10px;
    }

    .Staffdashboard main{
        height: 90vh;
    }

    .Staffdashboard .Staffdashboard-Header{
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .Staffdashboard .Staffdashboard-Header .staffArticle{
        width: 100%;
        height:  190px;
    }

    .Staffdashboard .Staffdashboard-Header .staffArticle .textArea{
        gap: 10px;
        padding: 0%;
        height: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;


        h3{
            font-size: 18px;
        }
        
        span{
            width: 100%;
            font-size: 14px;
        }

        button{
            width: 50%;
            height: 30px;
            margin-top: 0%;
            border-radius: 5px;
        }
    }
    
    .Staffdashboard .Staffdashboard-Header .staffArticle .imageHolder{
        width: 30%;
    }

    .Staffdashboard-Header .box{
        width: 50%;
        height: 80px;
        padding: 10px;
    }


    .Staffdashboard .staffAside{
        section{
            width: 100%;
            padding: 20px;
        }
    }

    .Staffdashboard main .mainHeader {
        gap: 0%;
        justify-content: space-around;

        .serial{
            display: none;
        }

        h4{

             p{
                display: none;
             }

             .smallScreen{
                display: flex;
             }
        }
    }

    .Staffdashboard main .mainBody section{
        gap: 15px;
        padding-right: 10px;
        padding-left: 10px;
        justify-content: space-around;
    }

    .Staffdashboard main .mainBody section .sectionInfo{
        display: none;
        width: 19%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }

    .Staffdashboard main .mainBody section .sectionInfoG{
        padding-left: 0%;
    }

    .Staffdashboard main .mainBody section .sectionInfoP p{
        display: none;
    }

    .Staffdashboard main .mainBody section .sectionInfoP .smallScreen{
        display: flex;
    }
    
    .Staffdashboard main .mainBody section .sectionInfos{
        padding-left: 0%;
        font-size: 14px;
    }

    .Staffdashboard main .mainBody section .sectionInfoS{
        padding-left: 0%;
        margin-left: -10px;
        gap: 5px;
    }
    

    .mainBody .emptyModal{
        width: 80%;
        height: auto;
        padding: 0%;
        padding-top: 20px;
        padding-bottom: 20px;

        h2{
            text-align: center;
        }
    }
    .allTeachers .emptyModal button{
        width: 45%;
    }
}

