.allStudent{
    width: 100%;
    height: auto;
    max-height: 100%;
    min-height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-top: 0%;
    padding-bottom: 10px;
}

.studentsBox{
    width: 100%;
    height: auto;
    min-height: 85vh;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
}

.allStudent .studentBox-Header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;


    button{
        width: 15%;
        height: 50px;
        background-color: #F4B400;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
    }
}

 .StudentList{
    width: 100%;
    height: auto;
    min-height: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
}

.studentList-Footer{
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #003B31;
}

.StudentList .studentList-Header{
    width: 100%;
    height: 40px;
    display: flex;
    color: white;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    background-color: #003B31;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top: 0%;

    h5{
        display: none;
    }
}

.StudentList main{
    width: 100%;
    height: auto;
    min-height: 60vh;
    max-height: 300px;
    padding-bottom: 30px;
    display: flex;
    gap: 5px;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.StudentList main section{
    width: 100%;
    height: 20vh;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
        display: none;
    }
}

.StudentList main section .sectionInfo{
    height: 90%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        width: 100px;
        height: 100%;
        background-color: #F4B400;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.StudentList main section .sectionInfo .profile{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: grey;

    image{
        width: 100%;
        height: 100%;
    }
}

/* .StudentList main section .sectionInfoG{
    width: 10%;
} */

.allStudent .emptyModal{
    width: 30%;
    height: 30vh;
    padding: 20px;
    gap: 10px;
    color:  #003B31;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    span{
        text-align: center;
    }
}

.allStudent .emptyModal button{
    width: 40%;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #003B31;
}

@media (min-width: 320px)and (max-width: 768px){

    .allStudent{
        padding: 10px;
    }
    .allStudent .studentBox-Header {
        button{
            width: 40%;
        }
    }

    .StudentList main section .sectionInfo{
        .profile{
            width: 50px;
            display: none;
        }

        button{
            width: 50px;
            font-size: 14px;
        }
    }

    .StudentList .studentList-Header{
        padding: 10px;

        h5{
            display: flex;
        }
        h4{
            display: none;
        }
    }

    .StudentList main section .sectionInfoG{
        display: none;
    }

    .StudentList main section{
        padding: 5px;
        span{
            display: flex;
        }
    }

    .allStudent .emptyModal{
        width: 80%;
        height: auto;
        padding: 0%;
        padding-top: 20px;
        padding-bottom: 20px;

        h2{
            text-align: center;
        }
    }
    .allStudent .emptyModal button{
        width: 45%;
    }
}
