.Contact-Component{
    width: 100%;
    height: max-content;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .wrap{
        width: 80%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 90px;

        .contactHead{
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }

        .contactBody{
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: space-between;
            align-items: center;

            form{
                width: 40%;
                height: max-content;
                padding: 20px;
                display: flex;
                flex-direction: column;

                .formHold{
                    width: 100%;
                    height: max-content;
                    display: flex;
                    flex-direction: column;
                    
                    label{
                        margin-top: 25px;
                        font-size: 18px;
                        color: green;
                    }

                    input{
                        width: 100%;
                        height: 25%;
                        outline: none;
                        border: none;
                        padding: 20px;
                        border-radius: 5px;
                        background-color: #ebebeb;
                    }
                }

                article{
                    width: 100%;
                    height: 18vh;
                    gap: 5px;
                    display: flex;
                    flex-direction: column;

                    label{
                        color: green;
                        font-size: 18px;
                    }

                    .Options{
                        width: 100%;
                        height: 90%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .box{
                            width: 45%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            border: 1px solid black;
                            padding: 10px;
                            border-radius: 10px;
                            cursor: pointer;
                        }
                        .box:hover{
                            border: 2px solid green;
                        }
                    }
                }

                label{
                 color: green;
                 margin-top: 20px;
                 font-size: 18px;
                }

                input{
                    width: 100%;
                    height: 8vh;
                    padding: 20px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    background-color: #ebebeb;
                }

                button{
                    width: 50%;
                    height: 50px;
                    border: none;
                    color: white;
                    font-size: 18px;
                    cursor: pointer;
                    border-radius: 5px;
                    margin-top: 20px;
                    background-color: green;
                }

                .formHead{
                    width: 100%;
                    height: 30%;
                    margin-bottom: 30px;
                    display: flex;
                    align-items: center;

                    .iconHolder{
                        width: 30%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .textArea{
                        width: 70%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h1{
                            color: orange;
                        }
                        span{
                            color: green;
                            font-size: 18px;
                        }
                    }

                }

            }
            .Dev{
                width: 35%;
                height: 90vh;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                .DevHeader{
                    width: 100%;
                    height: 25vh;
                    gap: 5px;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;


                    h2{
                        color: green;
                        text-transform: uppercase;
                    }
                    span{
                        color: orange;
                        font-size: 18px;
                    }
                }
                hr{
                    width: 100%;
                    border: 1px solid grey;
                }

                .keyContact{
                    width: 100%;
                    height: 50%;
                    gap: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 20px;

                    h2{
                        color: green;
                        text-transform: uppercase;
                    }

                    section{
                        width: 100%;
                        height: 40%;
                        display: flex;
                        align-items: center;
                        gap: 30px;

                        .profile{
                            width: 90px;
                            height: 90px;
                            border-radius: 100%;
                            background-color: grey;
                        }

                        span{
                            color: orange;
                            font-size: 20px;
                        }
                    }

                }

                .Address{
                    width: 100%;
                    height: 25%;
                    padding: 20px;

                    h2{
                        text-transform: uppercase;
                        color: green;
                    }


                }

            }
        }
    }
    
}