.Features{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.Features .intro{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    background-color: #003B31;
    padding: 50px;
    overflow-x: hidden;
}

.Features .intro .textArea{
    width: 60%;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    line-height: 31.83px;
    padding-left: 60px;
    gap: 20px;

    h2{
        font-weight: 700;
        font-size: 40px;
    }

    span{
        width: 70%;
        font-weight: 400;
        font-size: 25px;
    }
}

.Features .intro .textArea button{
    width: 170px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background-color: #F4B400;
    border: none;
}

.Features .intro .ImageHolder{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-position: center;
    }
}

.Features .Textarea{
    width: 70%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    h2{
        color: #003B31;
        font-weight: 700;
        font-size: 30px;
    }

    span{
        width: 90%;
        text-align: center;
        font-size: 25px;
        line-height: 20px;
    }
}

.Features .firstSlide{
    width: 100%;
    height: 50vh;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    .imgHolder{
        width: 45%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: start;
        padding-left: 20px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            background-position: center;
            border-radius: 10px;
        }
    }

    .textArea{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* padding-right: 40px; */

        h2{
            color: #003B31;
            font-weight: 700;
            font-size: 30px;
        }
        span{
            width: 100%;
            font-size: 25px;
        }
    }

}
.Features .secondSlide{
    width: 100%;
    height: 50vh;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    .imgHolder{
        width: 45%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: end;

        img{
            width: 100%; 
            height: 100%;
            object-fit: contain;
            background-position: center;
            border-radius: 10px;
        }
    }

    .textArea{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* padding-left: 40px ; */

        h2{
            color: #003B31;
            font-weight: 700;
            font-size: 30px;
        }
        span{
            width: 100%;
            font-size: 25px;
        }
    }

}

@media (min-width: 320px) and (max-width: 768px) {
    .Features .intro{
        height: auto;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    .Features .intro .textArea{
        width: 100%;
        padding: 10px;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 30px;
        }
        span{
            padding: 0%;
            width: 90%;
            text-align: center;
        }
    }

    .Features .intro .ImageHolder{
        width: 100%;
        height: 300px;
    }

    .Features .Textarea{
        width: 100%;
        height: auto;
        
        span{
            width: 90%;
        }
    }

    .Features .firstSlide{
        height: auto;
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;


        .imgHolder{
            width: 100%;
            justify-content: center;
            padding: 0%;
        }

        .textArea{
            width: 100%;
        }
    }
    .Features .secondSlide{
        height: auto;
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;


        .imgHolder{
            width: 100%;
            justify-content: center;
            padding: 0%;
        }

        .textArea{
            width: 100%;
        }
    }
}