.AdminPage{
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    gap: 20px;
    padding-right: 40px ;
    padding-left: 40px ;
    padding-top: 10px;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: #F5F5F5;
}

.AdminPage .boxHolder{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AdminPage .boxHolder section{
    width: 294px;
    height: 150px;
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

.AdminPage .boxHolder section .color{
    width: 26px;
    height: 100%;
    background-color: #F4B400;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.AdminPage .boxHolder .TeacherResult .color{
    background-color: #003B31;
}

.AdminPage .boxHolder section .textArea{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.AdminPage .boxHolder section .iconHolder{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminPage .boxHolder section .calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    color: #003B31;
    font-size: 18px;
    font-weight: 400;
}

.AdminPage .AnnouncementBox{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AdminPage .AnnouncementBox .AnnounceArticle{
    width: 65%;
    height: 90%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;   
     padding-right: 5px;


    .articleHeading{
        width: 100%;
        height: 50px;
        color: #003B31;
        display: flex;
        justify-content: space-between;

        h3{
            font-size: 25px;
        }
    }

    input{
        width: 100%;
        height: 80%;
        border: none;
        outline: none;
        background-color: #FFFCF4;
       padding: 40px;
       border-radius: 5px;
    }
}

.AdminPage .AnnouncementBox .articleHeading button{
    width: 164px;
    height: 49px;
    background-color: #003B31;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.AdminPage .AnnouncementBox .Adminaside{
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    gap: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span{
         width: 100%;
        display: flex;
        justify-content: center;
        gap: 5px;
        
    h4{
        color: #003B31;
        font-size: 20px;
        font-weight: 400;

    }
 }
 
 h5{
    color: orange;
    font-size: 20px;
    font-weight: 400;
}
}

.AdminPage .Chart {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AdminPage .Chart .Chartbox {
    width: 65%;                   
    height: 290px;              
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AdminPage .Chart .Chartbox canvas {
    width: 100% !important;       
    height: 100% !important; 
    color:#003B31 !important;
    cursor: pointer;
}

.AdminPage .Chart h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color:#003B31;
    font-family: NUnito Sans;
}

.upGrade{
    width: 30%;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 20px;

    h3{
        color: #003B31;
    }
    span{
        margin-top: -30px;
    }

   button{
    width: 200px;
    height: 50px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #F4B400;
   }
}


@media (min-width: 320px) and (max-width: 768px) {

    .AdminPage{
        padding: 20px;
        padding-bottom: 40px;
    }
    
    .AdminPage .boxHolder{
        height: auto;
        gap: 20px;
        padding-top: 20px;
        flex-direction: column;

        section{
            width: 100%;
            height: 160px;

            .color{
                width: 30px;
            }
        }
    }

    .AdminPage .boxHolder section .calc{
        gap: 10px;
    }

    .AdminPage .AnnouncementBox{
        height: auto;
        flex-direction: column;
        justify-content: center;
    }

    .AdminPage .AnnouncementBox .AnnounceArticle{
        width: 100%;
        height: 50vh;
        gap: 0px;

        input{
            height: 50%;
        }
    }

    .AdminPage .AnnouncementBox .articleHeading{
        gap: 20px;

        button{
            width: 120px;
        }
    }

    .AdminPage .AnnouncementBox .Adminaside{
        height: auto;
        width: 80%;
        padding: 20px;
    }

    .AdminPage .Chart{
        flex-direction: column;
        height: auto;
        gap: 30px;

        .Chartbox{
            width: 100%;
            height: 220px;
        }
    }

    .AdminPage .upGrade{
        width: 90%;
    }

}