
.Footer{
    width: 100%;
    background-color: #003B31;
    padding: 20px;
    color: white;
}

.footerExtras{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-block-end: 20px;

    & .footerExtra{
        /* max-width: 50%; */
        & ul li:first-child{
            font-weight: bold;

        }
        & ul li{
            list-style-type: none;
            margin-bottom: 7px;
            cursor: pointer;
           
        }
        & .logoWrapper{
            display: flex;
            align-items: center;
        }
    }
    & .first-child{
        width: 50%;
        margin-top: -25px;
        & p{
            max-width: 340px;
        }
    }
    & .second-child{
        display: flex;
        gap: 60px;
        justify-content: flex-end;
        /* justify-content: space-between; */
        width: 50%;
        margin-inline-end: 40px;
        /* margin-top: 40px; */
    }

       img{
        width: 50px;
        height: 80px;
        margin: 0;
       }
    }

    span{
        width: 25%;
        color: rgba(255, 255, 255, 0.772);
    }

.footerBottom{
    /* width: 93%; */
    /* height: max-content; */
    padding: 10px 0px 20px 0px;
    color: #F4B400;
    /* padding-bottom: 40px; */
}

@media (width <= 500px) {

    .footerExtras{
       display: grid;
       /* place-items: center; */
       gap: 20px;
    }
    .footerExtra{
        width: 100%;
    }
    p{
        min-width: 70%;
        text-wrap: balance;
    }
}
