.landing-Component{
    width: 100%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    overflow-y: scroll; 
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.landing-Component .Intro{
    width: 100%;
    height: max-content;
    min-height:75vh; 
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    animation: changeImages 15s ease-in-out infinite; 
  }
  
  @keyframes changeImages {
    0% {
      background-image: url(../../assets/WOMAN_TEACHING.png);
    }
    25% {
      background-image: url(../../assets/WOMAN_WRITING.png);
    }
    50% {
      background-image: url(../../assets/WOMAN_TEACHING.png);
    }
    75% {
      background-image: url(../../assets/WEPROVIDE.png);
    }
    100% {
      background-image: url(../../assets/WOMAN_TEACHING.png); 
    }
  }

.landing-Component .Intro .textArea{
    width: 65%;
    height: max-content;
    min-height: 50vh;
    padding-left: 85px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}

.landing-Component .Intro .textArea p{
    font-family: Nunito Sans;
    font-weight: 100;
    font-size: 25px;
}

.landing-Component .Intro .textArea h1{
    font-size: 45px;
    font-weight: 400;
    font-family: Nunito Sans;
}

.landing-Component .Intro .textArea span{
    font-size: 25px;
    font-family: Nunito Sans;
    font-weight: 300;
}

.landing-Component .Intro .textArea button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #F4B400;

    a{
        text-decoration: none;
        color: white;
    }
}

.landing-Component .whyEdutrack{
    width: 80%;
    height: max-content;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.landing-Component .whyEdutrack h2{
    color: #003B31;
    font-weight: 700;
    font-size: 30px;
}

.landing-Component .whyEdutrack span{
    width: 100%;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 20px;
    color: #2E2E2E ;
    line-height: 30px;
}

@media (min-width: 320px) and (max-width: 932px){

    
.landing-Component .Intro{
    background-repeat: no-repeat;
    background-size: cover;
}

    .landing-Component .whyEdutrack{
        width: 100%;
    }

    .landing-Component .whyEdutrack span{
        width: 90%;
        line-height: 20.9px;
    }

    .landing-Component .Intro .textArea {
        width: 90%;
        padding-left: 20px;
        
    }
    .landing-Component .Intro .textArea h1{
        font-size: 26px;
    }
    .landing-Component .Intro .textArea span{
        font-size: 18px;
    }
}




