.whatWeProvide{
    width: 100%;
    gap: 30px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatWeProvide h2{
    color: #003B31;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.whatWeProvide main{
    width: 100%;
    height: max-content;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: #006F5D14;
}
.whatWeProvide aside {
    width: 40%;
    height: 550px;
    border-radius: 25px;
    background-image: url('https://res.cloudinary.com/djhuirix9/image/upload/v1726553436/thirdlandingpage_y7uj1q.jpg');
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat; 
        
}

.whatWeProvide article{
    width: 45%;
    height: max-content;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;
}

.whatWeProvide article .articleH2{
    color: #003B31;
    font-weight: 700;
    font-size: 30px;
    width: 80%;
    display: flex;
}

.whatWeProvide article .boxHolder{
    width: 80%;
    gap: 20px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatWeProvide article .boxHolder section{
    width: 100%;
    height: max-content;
    min-height: 150px;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: space-around;

    h2{
        color: #003B31;
        font-weight: 700;
        font-size: 30px;
        width: 100%;
    }
}

.whatWeProvide article .boxHolder section .icon{
    width: 58px;
    height: 58px;
    border-radius: 5px;
    background-color: #003B31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatWeProvide article .boxHolder .coloredBox .icon{
    background-color: #F4B400;
}

.whatWeProvide article .boxHolder section .sectionInfo{
    width: 80%;
    height: 90%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2{
        color: #003B31;
        font-weight: 700;
        font-size: 25px;
        display: flex;
        align-items: flex-start;
    }

    span{
        font-family: Nunito Sans ;
        color: #2E2E2E;
        /* font-size: 23px; */
        font-weight: 400;
    }
}

.whatWeProvide article .boxHolder .coloredBox .sectionInfo{

    h2{
        color: #F4B400; 
    }

    span{
        color: #2E2E2E;
    }
}

.whatWeProvide article .boxHolder .lightgreen .sectionInfo{

    h2{
        color: #006F5D;
    }

    span{
        color: #2E2E2E;
    }
}

@media (min-width: 320px) and (max-width: 932px){

    .whatWeProvide{
        align-items: flex-start;
    }
    .whatWeProvide main{
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .whatWeProvide main aside{
        width: 95%;
        height: 350px;
    }

    .whatWeProvide article{
        width: 100%;
        padding: 0%;
        align-items: flex-start;

    }

    .whatWeProvide article .boxHolder{
        width: 100%;
        height: auto;
    }
    .whatWeProvide article .boxHolder section .sectionInfo{
        align-items: flex-start;
        width: max-content;
    }
} 