.signModal{
    width: 100%;
    height: max-content;
    margin-top: 40px;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
}

.signModal main{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    background-color: #006F5D14;
    position: relative;
    margin-bottom: 30px;
}

.signModal main .infoBox{
    width: 40%;
    height: max-content;
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.signModal main .infoBox h2{
    width: 70%;
    font-size: 30px;
    font-family: 700;
    color: #263238;
    font-family: Nunito Sans;

}
.signModal main .infoBox span{
    width: 80%;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.signModal main .infoBox button{
    width: 35%;
    height: 45px;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    font-size: 20px;
    font-family: Nunito Sans;
    background-color: #F4B400;
}

.signModal .boxHolder{
    width: 30%;
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-end;
    justify-content: center;
    align-self: flex-end;
    margin-top: 150px;
    margin-right: 0%;
    margin-left: 70%;
    margin-bottom: 30px;
    /* gap: 20px; */
    position: absolute;

    .orange{
        margin-top: 30%;
        margin-left: -50px;
        background-color: #F4B400;
        position: relative;
    }

    .green{
        margin-left: 90px;
        margin-top: -10%;
        position: absolute;
        background-color: #003B31;
    }
}

.signModal .boxHolder section{
    width: 170px;
    height: 170px;
    position: relative;
    /* bottom: 20px; */
    border-radius: 2px;
    background-color: white;
}

@media (min-width: 320px) and (max-width: 932px) {

    .signModal{
        padding-bottom: 0%;
    }
    
    .signModal main .infoBox{
        width: 100%;
        margin: 0%;
        padding: 10px;

        h2{
            width: 100%;
            font-size: 30px;
        }

        span{
            width: 100%;
            font-size: 16px;
        }

        button{
            width: 200px;
        }
    }

    .signModal .boxHolder{
        height: auto;
        justify-content: center;
        align-items: flex-end;

        .orange{
            height: 60px;
            /* margin-top: 50px; */
            margin-left: -40px;
        }
        .green{
            height: 60px;
            margin-left: 50px;
            margin-top: 5px;
        }

        section{
            width: 60px;
            height: 63px;
        }
    }
}

@media (min-width: 768px)  and (max-width: 1024px){
    .signModal main .infoBox{
        width: 60%;
        padding: 20px;
        margin-left: 30px;

        span{
            width: 80%;
        }
    }

    .signModal .boxHolder{
        margin-top: -10%;
        align-items: flex-start;

        .orange{
            margin-top: 50px;
            margin-left: -180px;
        }

        .green{
            margin-top: 20px;
            margin-left: -70px;
        }
    }
}






