*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Nunito Sans;

    span{
        font-weight: 400;
        line-height: 34.1px;
    font-size: 20px;
    }

    h3{
        line-height: 34.1px;
        font-size: 30px;
        font-weight: 700;
    }
/* 
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

     /* overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;  */
}

body{
    background-color: #ebebeb;
}